{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}

	<div class="swiper mySwiper">
		<div class="swiper-wrapper">
			{% for donut in produits %}
				<div class="swiper-slide">
					<div class="fiche_donuts">
						<div class="prix_donut">{{donut.prix}}€</div>

						<h1>Nappage {{donut.saveur}}</h1>

						<img src="../img/{{donut.photo}}" alt="donuts">

						<button class="btn-commande">Commander</button>
						<p>{{donut.description}}</p>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
	<div class="swiper-pagination"></div>
    
{% endblock %}
